ALLOCATOR_COOLDOWN_LOSS_PENALTY=
ALLOCATOR_COOLDOWN_WINDOW_MS=
ALLOCATOR_COOLDOWN_WIN_BONUS=
ALLOCATOR_DIVERSIFICATION_BONUS=
ALLOCATOR_EXPLORE_PROBABILITY=
ALLOCATOR_MAX_CORRELATED_EXPOSURE=
ALLOCATOR_MAX_POSITIONS_PER_MARKET=
ALLOCATOR_MIN_CONFIDENCE=
ALLOCATOR_MIN_SCORE=
BACKTEST_ENABLE_FEE_OPTIMIZER=
BACKTEST_ENABLE_SLIPPAGE=
BOT_LOOP_MS=
DAILY_DRAWDOWN_THRESHOLD=
DEBUG_SCORING=
DYNAMIC_LEVERAGE=
ENABLE_COMPOUNDING=
ENABLE_EXECUTION_MONITORING=
JUPITER_TRADING_FEE_BPS=
LEVERAGE_ADX_ADJ=
LEVERAGE_BASE=
LEVERAGE_CONFIDENCE_ADJ=
LEVERAGE_DRAWDOWN_PROT=
LEVERAGE_FUNDING_ADJ=
LEVERAGE_LONG=
LEVERAGE_MAX=
LEVERAGE_MIN=
LEVERAGE_PORTFOLIO_ADJ=
LEVERAGE_SHORT=
LEVERAGE_USE_KELLY=
LEVERAGE_VOLATILITY_ADJ=
LOOP_MS=
MAX_FUNDING_RATE_PERCENT=
MAX_LATENCY_MS=
MAX_MARKET_IMPACT_BPS=
MAX_POSITION_SIZE=
MAX_REJECTION_RATE=
MAX_SLIPPAGE_BPS=
MAX_TOTAL_EXPOSURE=
MAX_TOTAL_LEVERAGE=
MIN_EXPECTED_PROFIT_BPS=
MIN_FILL_RATE=
MIN_POSITION_SIZE=
MIN_PROFIT_TO_FEE_RATIO=
MIN_SAMPLE_SIZE=
MOMENTUM_PRIORITY_FEE=
MOMENTUM_SLIPPAGE_BPS=
NETWORK_FEE_USD=
POSITION_SIZE_PERCENT=
POSITION_SIZING_METHOD=
PRIORITY_FEE_BASE=
PRIORITY_FEE_MAX=
PRIORITY_FEE_URGENCY_MULTIPLIER=
PRIORITY_FEE_USD=
PRIORITY_FEE_VOLATILITY_MULTIPLIER=
RISK_PER_TRADE_PERCENT=
SCALPING_ADX_PERIOD=
SCALPING_ALLOCATOR_CONFIDENCE_WEIGHT=
SCALPING_ALLOCATOR_PERFORMANCE_WEIGHT=
SCALPING_ALLOCATOR_RISKADJUSTED_WEIGHT=
SCALPING_ALLOCATOR_RISK_ADJUSTED_WEIGHT=
SCALPING_ALLOCATOR_VOLATILITY_WEIGHT=
SCALPING_ATR_PERIOD=
SCALPING_CIRCUIT_BREAKER_COOLDOWN_MS=
SCALPING_CONTINUATION_CVD_THRESHOLD=
SCALPING_CONTINUATION_DONCHIAN_BREAK_PCT=
SCALPING_CONTINUATION_VOLUME_MULTIPLIER=
SCALPING_DONCHIAN_PERIOD=
SCALPING_EMA_200=
SCALPING_EMA_FAST=
SCALPING_EMA_SLOW=
SCALPING_ENABLE_CONTINUATION_PATTERN=
SCALPING_ENABLE_DYNAMIC_SLIPPAGE=
SCALPING_ENABLE_FEE_OPTIMIZATION=
SCALPING_ENABLE_PRIORITY_FEES=
SCALPING_ENABLE_PULLBACK_PATTERN=
SCALPING_ENABLE_SWEEP_REVERSAL=
SCALPING_ENABLE_TIME_BASED_EXIT=
SCALPING_ENABLE_TRIPLE_THREAT=
SCALPING_HULL_MA_PERIOD=
SCALPING_MAX_ADX=
SCALPING_MAX_CONSECUTIVE_LOSSES=
SCALPING_MAX_FUNDING_RATE_PERCENT=
SCALPING_MAX_HOLD_BARS=
SCALPING_MAX_HOLD_TIME=
SCALPING_MAX_POSITION_HOURS=
SCALPING_MAX_POSITION_SIZE=
SCALPING_MAX_VOLATILITY_PERCENT=
SCALPING_MIN_ADX=
SCALPING_MIN_BARS=
SCALPING_MIN_POSITION_SIZE=
SCALPING_MIN_RISK_REWARD=
SCALPING_MIN_VOLATILITY_PERCENT=
SCALPING_OI_SPIKE_THRESHOLD=
SCALPING_POSITION_SIZE_PERCENT=
SCALPING_POSITION_SIZING_METHOD=
SCALPING_PULLBACK_CVD_THRESHOLD=
SCALPING_PULLBACK_EMA_PROXIMITY=
SCALPING_PULLBACK_MAX_ATR_MULTIPLIER=
SCALPING_REDUCE_SIZE_ON_LOW_WIN_RATE=
SCALPING_RISK_PER_TRADE_PERCENT=
SCALPING_STOP_LOSS_PERCENT=
SCALPING_SWEEP_REVERSAL_CONFIRM_BARS=
SCALPING_SWEEP_REVERSAL_CVD_FLIP=
SCALPING_SWEEP_REVERSAL_MAX_AGE=
SCALPING_TAKE_PROFIT_PERCENT=
SCALPING_TARGET_WIN_RATE=
SCALPING_TRIPLE_THREAT_CVD_THRESHOLD=
SCALPING_TRIPLE_THREAT_OI_THRESHOLD=
SCALPING_TRIPLE_THREAT_SWEEP_MAX_AGE=
SCALPING_VOLUME_SPIKE_THRESHOLD=
SLIPPAGE_ATR_MULTIPLIER=
SLIPPAGE_BASE_BPS=
SLIPPAGE_ENTRY_BPS=
SLIPPAGE_ESTIMATE_BPS=
SLIPPAGE_EXIT_BPS=
SLIPPAGE_HIGH_VOL_BPS=
SLIPPAGE_LOW_VOL_BPS=
SLIPPAGE_MAX_BPS=
SLIPPAGE_MED_VOL_BPS=
SLIPPAGE_MIN_BPS=
SMART_LEVELS_EQUAL_THRESHOLD_PCT=
SMART_LEVELS_MAX_FVG_AGE_BARS=
SMART_LEVELS_MIN_FVG_SIZE_PCT=
SMART_LEVELS_MIN_POOL_TOUCHES=
SMART_LEVELS_POOL_MERGE_DISTANCE_PCT=
SMART_LEVELS_PROXIMITY_PCT=
SMART_LEVELS_SWEEP_REVERSAL_BARS=
SMART_LEVELS_SWEEP_WICK_PCT=
SMART_LEVELS_SWING_LOOKBACK=
STOP_LOSS_PERCENT=
STRATEGY_TYPE=
TAKE_PROFIT_PERCENT=
TRADING_INTERVAL=
TRAILING_STOP_PERCENT=
USE_DYNAMIC_MAX_LEV=
USE_RISK_TP=
USE_TRAILING_STOP=
