ALLOCATOR_COOLDOWN_LOSS_PENALTY=
ALLOCATOR_COOLDOWN_WINDOW_MS=
ALLOCATOR_COOLDOWN_WIN_BONUS=
ALLOCATOR_DIVERSIFICATION_BONUS=
ALLOCATOR_EXPLORE_PROBABILITY=
ALLOCATOR_MAX_CORRELATED_EXPOSURE=
ALLOCATOR_MAX_POSITIONS_PER_MARKET=
ALLOCATOR_MIN_CONFIDENCE=
ALLOCATOR_MIN_SCORE=
ALLOCATOR_RISK_ENABLED=
ALLOCATOR_RISK_LEVERAGE_MULT_MAX=
ALLOCATOR_RISK_LEVERAGE_MULT_MIN=
ALLOCATOR_RISK_NEUTRAL=
ALLOCATOR_RISK_QUALITY_CONF_WEIGHT=
ALLOCATOR_RISK_QUALITY_GAMMA=
ALLOCATOR_RISK_QUALITY_SCORE_WEIGHT=
ALLOCATOR_RISK_SIZE_MULT_MAX=
ALLOCATOR_RISK_SIZE_MULT_MIN=
ALLOCATOR_RISK_STOP_ATR_MULT_MAX=
ALLOCATOR_RISK_STOP_ATR_MULT_MIN=
ALLOCATOR_RISK_STOP_PCT_MULT_MAX=
ALLOCATOR_RISK_STOP_PCT_MULT_MIN=
ALLOW_LONGS=
ALLOW_SHORTS=
ATR_PERIOD=
BACKTEST_CACHE_ENABLED=
BACKTEST_ENABLE_FEE_OPTIMIZER=
BASE_SLIPPAGE_BPS=
BOT_LOOP_MS=
COOLDOWN_MS=
DAILY_DRAWDOWN_THRESHOLD=
DYNAMIC_LEVERAGE=
ENABLE_COMPOUNDING=
ENABLE_COOLDOWN=
ENABLE_EARLY_EXITS=
ENABLE_EDGE_TRIGGER=
ENABLE_REALISTIC_SLIPPAGE=
ENABLE_RSI_DIVERGENCE_EXIT=
ENABLE_SAME_BAR_GUARD=
ENABLE_TRAILING_STOP_RSI=
EXEC_MODE=
FEE_MODEL=
FLIP_COOLDOWN_BARS=
FLIP_COOLDOWN_MS=
INITIAL_CAPITAL=
LEVERAGE_ADX_ADJ=
LEVERAGE_BASE=
LEVERAGE_CONFIDENCE_ADJ=
LEVERAGE_DRAWDOWN_PROT=
LEVERAGE_FUNDING_ADJ=
LEVERAGE_LONG=
LEVERAGE_MAX=
LEVERAGE_MIN=
LEVERAGE_PORTFOLIO_ADJ=
LEVERAGE_SHORT=
LEVERAGE_USE_KELLY=
LEVERAGE_VOLATILITY_ADJ=
LOOP_MS=
MAX_DRAWDOWN_PCT=
MAX_FUNDING_RATE_PERCENT=
MAX_MARKET_IMPACT_BPS=
MAX_POSITIONS=
MAX_POSITION_HOURS=
MAX_POSITION_SIZE=
MAX_TOTAL_EXPOSURE=
MAX_TOTAL_LEVERAGE=
MIN_BARS_SAME_SIDE_REENTRY=
MIN_LIQUIDITY=
MIN_POSITION_SIZE=
PAPER_BALANCE=
PERPS_EXECUTION_PROVIDER_DEFAULT=
POSITION_SIZE_PERCENT=
POSITION_SIZING_METHOD=
REVERSION_ALLOCATOR_CONFIDENCE_WEIGHT=
REVERSION_ALLOCATOR_PERFORMANCE_WEIGHT=
REVERSION_ALLOCATOR_RISKADJUSTED_WEIGHT=
REVERSION_ALLOCATOR_VOLATILITY_WEIGHT=
RISK_PER_TRADE_PERCENT=
ROBUST_BOOTSTRAP=
ROBUST_GRID_EXCLUDE=
ROBUST_HEATMAP=
ROBUST_HEATMAP_MAX_RUNS_PER_MARKET=
ROBUST_JITTER=
ROBUST_WALK_FORWARD=
RSI_ADX_PERIOD=
RSI_CIRCUIT_BREAKER_COOLDOWN_MS=
RSI_DYNAMIC_CONFIDENCE=
RSI_DYNAMIC_CONFIDENCE_BASE=
RSI_DYNAMIC_CONFIDENCE_SCALE=
RSI_ENTRY_MAX_BARS=
RSI_ENTRY_MAX_DEVIATION=
RSI_FAILURE_LONG=
RSI_FAILURE_SHORT=
RSI_HARD_STOP_ATR=
RSI_HARD_STOP_ENABLED=
RSI_HARD_STOP_PERCENT=
RSI_MAX_ADX=
RSI_MAX_CONSECUTIVE_LOSSES=
RSI_MAX_VOLATILITY_PCT=
RSI_MIN_ADX=
RSI_MIN_VOLATILITY_PCT=
RSI_OVERBOUGHT_EXTREME=
RSI_OVERBOUGHT_RECOVERY=
RSI_OVERSOLD_EXTREME=
RSI_OVERSOLD_RECOVERY=
RSI_PARTIAL_PERCENT=
RSI_PARTIAL_TARGET_LONG=
RSI_PARTIAL_TARGET_SHORT=
RSI_PERIOD=
RSI_REGIME_EMA_PERIOD=
RSI_REGIME_FILTER_ENABLED=
RSI_REGIME_SLOPE_THRESHOLD=
RSI_REQUIRE_PROFIT_FOR_TARGET=
RSI_TARGET_LONG=
RSI_TARGET_NEUTRAL=
RSI_TARGET_SHORT=
RSI_TIME_STOP_BARS=
RSI_USE_SMA=
SLIPPAGE_BPS=
SLIPPAGE_SCALAR=
STARTING_BALANCE_USD=
STOP_LOSS_PERCENT=
STRATEGY_BTC_PERP_ALLOW_LONGS=
STRATEGY_BTC_PERP_ALLOW_SHORTS=
STRATEGY_BTC_PERP_ATR_PERIOD=
STRATEGY_BTC_PERP_HARD_STOP_ATR=
STRATEGY_BTC_PERP_HARD_STOP_PERCENT=
STRATEGY_BTC_PERP_LEVERAGE=
STRATEGY_BTC_PERP_MAX_ADX=
STRATEGY_BTC_PERP_MAX_VOLATILITY_PCT=
STRATEGY_BTC_PERP_MIN_ADX=
STRATEGY_BTC_PERP_MIN_VOLATILITY_PCT=
STRATEGY_BTC_PERP_RSI_ENTRY_MAX_BARS=
STRATEGY_BTC_PERP_RSI_ENTRY_MAX_DEVIATION=
STRATEGY_BTC_PERP_RSI_FAILURE_LONG=
STRATEGY_BTC_PERP_RSI_FAILURE_SHORT=
STRATEGY_BTC_PERP_RSI_OVERBOUGHT_EXTREME=
STRATEGY_BTC_PERP_RSI_OVERBOUGHT_RECOVERY=
STRATEGY_BTC_PERP_RSI_OVERSOLD_EXTREME=
STRATEGY_BTC_PERP_RSI_OVERSOLD_RECOVERY=
STRATEGY_BTC_PERP_RSI_REGIME_FILTER_ENABLED=
STRATEGY_BTC_PERP_RSI_TARGET_LONG=
STRATEGY_BTC_PERP_RSI_TARGET_SHORT=
STRATEGY_BTC_PERP_TIME_STOP_BARS=
STRATEGY_ETH_PERP_ALLOW_LONGS=
STRATEGY_ETH_PERP_ALLOW_SHORTS=
STRATEGY_ETH_PERP_HARD_STOP_ATR=
STRATEGY_ETH_PERP_HARD_STOP_PERCENT=
STRATEGY_ETH_PERP_LEVERAGE=
STRATEGY_ETH_PERP_MAX_ADX=
STRATEGY_ETH_PERP_MAX_VOLATILITY_PCT=
STRATEGY_ETH_PERP_MIN_ADX=
STRATEGY_ETH_PERP_MIN_VOLATILITY_PCT=
STRATEGY_ETH_PERP_RSI_ENTRY_MAX_BARS=
STRATEGY_ETH_PERP_RSI_ENTRY_MAX_DEVIATION=
STRATEGY_ETH_PERP_RSI_FAILURE_LONG=
STRATEGY_ETH_PERP_RSI_FAILURE_SHORT=
STRATEGY_ETH_PERP_RSI_OVERBOUGHT_EXTREME=
STRATEGY_ETH_PERP_RSI_OVERBOUGHT_RECOVERY=
STRATEGY_ETH_PERP_RSI_OVERSOLD_EXTREME=
STRATEGY_ETH_PERP_RSI_OVERSOLD_RECOVERY=
STRATEGY_ETH_PERP_RSI_TARGET_LONG=
STRATEGY_ETH_PERP_RSI_TARGET_SHORT=
STRATEGY_ETH_PERP_TIME_STOP_BARS=
STRATEGY_ETH_PERP_TRADING_DISABLED_HOURS_UTC=
STRATEGY_MARKETS=
STRATEGY_SOL_PERP_ALLOW_LONGS=
STRATEGY_SOL_PERP_ALLOW_SHORTS=
STRATEGY_SOL_PERP_HARD_STOP_ATR=
STRATEGY_SOL_PERP_HARD_STOP_PERCENT=
STRATEGY_SOL_PERP_LEVERAGE=
STRATEGY_SOL_PERP_MAX_ADX=
STRATEGY_SOL_PERP_MAX_VOLATILITY_PCT=
STRATEGY_SOL_PERP_MIN_ADX=
STRATEGY_SOL_PERP_MIN_VOLATILITY_PCT=
STRATEGY_SOL_PERP_RSI_ENTRY_MAX_BARS=
STRATEGY_SOL_PERP_RSI_ENTRY_MAX_DEVIATION=
STRATEGY_SOL_PERP_RSI_FAILURE_LONG=
STRATEGY_SOL_PERP_RSI_FAILURE_SHORT=
STRATEGY_SOL_PERP_RSI_OVERBOUGHT_EXTREME=
STRATEGY_SOL_PERP_RSI_OVERBOUGHT_RECOVERY=
STRATEGY_SOL_PERP_RSI_OVERSOLD_EXTREME=
STRATEGY_SOL_PERP_RSI_OVERSOLD_RECOVERY=
STRATEGY_SOL_PERP_RSI_REGIME_FILTER_ENABLED=
STRATEGY_SOL_PERP_RSI_TARGET_LONG=
STRATEGY_SOL_PERP_RSI_TARGET_SHORT=
STRATEGY_SOL_PERP_TIME_STOP_BARS=
STRATEGY_TYPE=
TAKE_PROFIT_PERCENT=
TRADING_ALLOWED_HOURS_UTC=
TRADING_DISABLED_HOURS_UTC=
TRADING_INTERVAL=
TRAILING_STOP_PERCENT=
USE_DYNAMIC_MAX_LEV=
USE_RISK_TP=
USE_TRAILING_STOP=
VOLATILITY_SCALE_BASE=
WF_COARSE_GRID=
WF_GRID_MODE=
WF_MAX_COMBINATIONS=
WF_MODE=
WF_OPTIMIZE=
WF_STEP_DAYS=
WF_TEST_DAYS=
WF_TRAIN_DAYS=
