ALLOCATOR_COOLDOWN_LOSS_PENALTY=
ALLOCATOR_COOLDOWN_WINDOW_MS=
ALLOCATOR_COOLDOWN_WIN_BONUS=
ALLOCATOR_DIVERSIFICATION_BONUS=
ALLOCATOR_EXPLORE_PROBABILITY=
ALLOCATOR_MAX_CORRELATED_EXPOSURE=
ALLOCATOR_MAX_POSITIONS_PER_MARKET=
ALLOCATOR_MIN_CONFIDENCE=
ALLOCATOR_MIN_SCORE=
ALLOCATOR_RISK_ENABLED=
ALLOCATOR_RISK_LEVERAGE_MULT_MAX=
ALLOCATOR_RISK_LEVERAGE_MULT_MIN=
ALLOCATOR_RISK_NEUTRAL=
ALLOCATOR_RISK_QUALITY_CONF_WEIGHT=
ALLOCATOR_RISK_QUALITY_GAMMA=
ALLOCATOR_RISK_QUALITY_SCORE_WEIGHT=
ALLOCATOR_RISK_SIZE_MULT_MAX=
ALLOCATOR_RISK_SIZE_MULT_MIN=
ALLOCATOR_RISK_STOP_ATR_MULT_MAX=
ALLOCATOR_RISK_STOP_ATR_MULT_MIN=
ALLOCATOR_RISK_STOP_PCT_MULT_MAX=
ALLOCATOR_RISK_STOP_PCT_MULT_MIN=
ALLOW_LONGS=
ALLOW_SHORTS=
ATR_PERIOD=
BACKTEST_CACHE_ENABLED=
BACKTEST_ENABLE_FEE_OPTIMIZER=
BACKTEST_STRATEGY_EXIT_INTERVAL=
BACKTEST_WINNER_ADD_ON_ENABLED=
BACKTEST_WINNER_ADD_ON_MAX_ADDS=
BACKTEST_WINNER_ADD_ON_SIZE_FRACTION=
BACKTEST_WINNER_ADD_ON_TRIGGER_R=
BASE_SLIPPAGE_BPS=
BOT_LOOP_MS=
BREAKOUT_ALLOCATOR_CONFIDENCE_WEIGHT=
BREAKOUT_ALLOCATOR_PERFORMANCE_WEIGHT=
BREAKOUT_ALLOCATOR_RISKADJUSTED_WEIGHT=
BREAKOUT_ALLOCATOR_VOLATILITY_WEIGHT=
BREAKOUT_ATR_PERIOD=
BREAKOUT_ATR_STOP_MULT=
BREAKOUT_ATR_TRAIL_MULT=
BREAKOUT_CIRCUIT_BREAKER_COOLDOWN_MS=
BREAKOUT_CONFIRM_CLOSE_ONLY=
BREAKOUT_DYNAMIC_CONFIDENCE=
BREAKOUT_DYNAMIC_CONFIDENCE_BASE=
BREAKOUT_DYNAMIC_CONFIDENCE_SCALE=
BREAKOUT_ENABLE_ATR_TRAIL=
BREAKOUT_ENABLE_OPPOSITE_CHANNEL_EXIT=
BREAKOUT_ENABLE_PARTIAL_EXIT=
BREAKOUT_ENABLE_REGIME_FAILURE_EXIT=
BREAKOUT_ENTRY_BUFFER_BPS=
BREAKOUT_ENTRY_CHANNEL=
BREAKOUT_ENTRY_MODE=
BREAKOUT_EXIT_CHANNEL=
BREAKOUT_FIB_ANCHORED_VWAP_SOURCE=
BREAKOUT_FIB_CONFIRM_CLOSE_LOCATION=
BREAKOUT_FIB_CONFLUENCE_TOLERANCE_ATR=
BREAKOUT_FIB_INVALIDATION_LEVEL=
BREAKOUT_FIB_MIN_CONFLUENCE_COUNT=
BREAKOUT_FIB_MIN_SWING_RANGE_ATR=
BREAKOUT_FIB_POCKET_LOWER_LEVEL=
BREAKOUT_FIB_REQUIRE_CONFIRMED_SWING=
BREAKOUT_FIB_RETRACE_LEVEL=
BREAKOUT_FIB_SWING_LOOKBACK_BARS=
BREAKOUT_FIB_SWING_PIVOT_STRENGTH=
BREAKOUT_FIB_USE_ANCHORED_VWAP_CONFLUENCE=
BREAKOUT_FIB_USE_BREAKOUT_LEVEL_CONFLUENCE=
BREAKOUT_FIB_USE_EMA_CONFLUENCE=
BREAKOUT_FIB_ZONE_DEEP_LEVEL=
BREAKOUT_FIB_ZONE_MID_LEVEL=
BREAKOUT_FIB_ZONE_SHALLOW_LEVEL=
BREAKOUT_HARD_STOP_ENABLED=
BREAKOUT_HARD_STOP_PERCENT=
BREAKOUT_MAX_CONSECUTIVE_LOSSES=
BREAKOUT_MAX_ENTRY_DIST_ATR=
BREAKOUT_MAX_VOLATILITY_PCT=
BREAKOUT_MIN_BAR_RANGE_ATR=
BREAKOUT_MIN_BREAK_DISTANCE_ATR=
BREAKOUT_MIN_CLOSE_LOCATION=
BREAKOUT_MIN_VOLATILITY_PCT=
BREAKOUT_MIN_VOLUME_RATIO=
BREAKOUT_PARTIAL_AT_R=
BREAKOUT_PULLBACK_RETEST_ATR=
BREAKOUT_PULLBACK_SETUP_EXPIRY_BARS=
BREAKOUT_REGIME_EMA_PERIOD=
BREAKOUT_REGIME_FAILURE_MODE=
BREAKOUT_REGIME_FILTER_ENABLED=
BREAKOUT_REGIME_SLOPE_LOOKBACK=
BREAKOUT_REGIME_SLOPE_THRESHOLD=
BREAKOUT_REQUIRE_PROFIT_FOR_EXIT=
BREAKOUT_REQUIRE_VOLUME_CONFIRMATION=
BREAKOUT_STALE_TIME_STOP_ENABLED=
BREAKOUT_STALE_TIME_STOP_MIN_PROFIT_ATR=
BREAKOUT_STALE_TIME_STOP_REQUIRE_TREND_FAILURE=
BREAKOUT_TIME_STOP_BARS=
BREAKOUT_TREND_EMA_PERIOD=
BREAKOUT_TREND_SLOPE_LOOKBACK=
BREAKOUT_TREND_SLOPE_THRESHOLD=
BREAKOUT_VOLUME_LOOKBACK=
BREAKOUT_VOLUME_SPIKE_THRESHOLD=
COOLDOWN_MS=
DAILY_DRAWDOWN_THRESHOLD=
DYNAMIC_LEVERAGE=
ENABLE_COMPOUNDING=
ENABLE_COOLDOWN=
ENABLE_DYNAMIC_SLIPPAGE=
ENABLE_EARLY_EXITS=
ENABLE_EDGE_TRIGGER=
ENABLE_FIXED_SLIPPAGE=
ENABLE_REALISTIC_SLIPPAGE=
ENABLE_RSI_DIVERGENCE_EXIT=
ENABLE_SAME_BAR_GUARD=
ENABLE_TRAILING_STOP_RSI=
EXEC_MODE=
FEE_MODEL=
FIXED_SLIPPAGE_BPS=
FIXED_SLIPPAGE_SCALAR=
FLIP_COOLDOWN_BARS=
FLIP_COOLDOWN_MS=
INITIAL_CAPITAL=
LEVERAGE_ADX_ADJ=
LEVERAGE_BASE=
LEVERAGE_CONFIDENCE_ADJ=
LEVERAGE_DRAWDOWN_PROT=
LEVERAGE_FUNDING_ADJ=
LEVERAGE_LONG=
LEVERAGE_MAX=
LEVERAGE_MIN=
LEVERAGE_PORTFOLIO_ADJ=
LEVERAGE_SHORT=
LEVERAGE_USE_KELLY=
LEVERAGE_VOLATILITY_ADJ=
LOOP_MS=
MAX_DRAWDOWN_PCT=
MAX_FUNDING_RATE_PERCENT=
MAX_MARKET_IMPACT_BPS=
MAX_POSITIONS=
MAX_POSITION_HOURS=
MAX_POSITION_SIZE=
MAX_TOTAL_EXPOSURE=
MAX_TOTAL_LEVERAGE=
MIN_BARS=
MIN_BARS_SAME_SIDE_REENTRY=
MIN_LIQUIDITY=
MIN_POSITION_SIZE=
PAPER_BALANCE=
PERPS_EXECUTION_PROVIDER_DEFAULT=
POSITION_SIZE_PERCENT=
POSITION_SIZING_METHOD=
RISK_PER_TRADE_PERCENT=
ROBUST_BOOTSTRAP=
ROBUST_GRID_EXCLUDE=
ROBUST_HEATMAP=
ROBUST_HEATMAP_MAX_RUNS_PER_MARKET=
ROBUST_JITTER=
ROBUST_WALK_FORWARD=
SLIPPAGE_BPS=
SLIPPAGE_SCALAR=
STARTING_BALANCE_USD=
STOP_LOSS_PERCENT=
STRATEGY_BTC_PERP_ALLOW_LONGS=
STRATEGY_BTC_PERP_ALLOW_SHORTS=
STRATEGY_BTC_PERP_BREAKOUT_ATR_PERIOD=
STRATEGY_BTC_PERP_BREAKOUT_ATR_STOP_MULT=
STRATEGY_BTC_PERP_BREAKOUT_ATR_TRAIL_MULT=
STRATEGY_BTC_PERP_BREAKOUT_CONFIRM_CLOSE_ONLY=
STRATEGY_BTC_PERP_BREAKOUT_ENABLE_ATR_TRAIL=
STRATEGY_BTC_PERP_BREAKOUT_ENABLE_OPPOSITE_CHANNEL_EXIT=
STRATEGY_BTC_PERP_BREAKOUT_ENABLE_REGIME_FAILURE_EXIT=
STRATEGY_BTC_PERP_BREAKOUT_ENTRY_CHANNEL=
STRATEGY_BTC_PERP_BREAKOUT_ENTRY_MODE=
STRATEGY_BTC_PERP_BREAKOUT_EXIT_CHANNEL=
STRATEGY_BTC_PERP_BREAKOUT_HARD_STOP_PERCENT=
STRATEGY_BTC_PERP_BREAKOUT_MAX_ENTRY_DIST_ATR=
STRATEGY_BTC_PERP_BREAKOUT_MAX_VOLATILITY_PCT=
STRATEGY_BTC_PERP_BREAKOUT_MIN_VOLATILITY_PCT=
STRATEGY_BTC_PERP_BREAKOUT_REGIME_EMA_PERIOD=
STRATEGY_BTC_PERP_BREAKOUT_REGIME_FILTER_ENABLED=
STRATEGY_BTC_PERP_BREAKOUT_TIME_STOP_BARS=
STRATEGY_BTC_PERP_BREAKOUT_TREND_EMA_PERIOD=
STRATEGY_BTC_PERP_BREAKOUT_TREND_SLOPE_LOOKBACK=
STRATEGY_BTC_PERP_BREAKOUT_TREND_SLOPE_THRESHOLD=
STRATEGY_BTC_PERP_HARD_STOP_ATR=
STRATEGY_BTC_PERP_HARD_STOP_PERCENT=
STRATEGY_BTC_PERP_LEVERAGE=
STRATEGY_BTC_PERP_TIME_STOP_BARS=
STRATEGY_BTC_PERP_TRADING_DISABLED_HOURS_UTC=
STRATEGY_MARKETS=
STRATEGY_TYPE=
TAKE_PROFIT_PERCENT=
TRADING_ALLOWED_HOURS_UTC=
TRADING_DISABLED_HOURS_UTC=
TRADING_INTERVAL=
TRAILING_STOP_PERCENT=
USE_DYNAMIC_MAX_LEV=
USE_RISK_TP=
USE_TRAILING_STOP=
VOLATILITY_SCALE_BASE=
WF_COARSE_GRID=
WF_GRID_MODE=
WF_MAX_COMBINATIONS=
WF_MODE=
WF_OPTIMIZE=
WF_STEP_DAYS=
WF_TEST_DAYS=
WF_TRAIN_DAYS=
