BITGET_API_KEY=
BITGET_API_PASSPHRASE=
BITGET_API_SECRET=
BITGET_BASE_URL=
COPY_ATR_PERIOD=
COPY_ATR_STOP_MULTIPLIER=
COPY_BACKTEST_FEE_BPS=
COPY_BACKTEST_SLIPPAGE_BPS=
COPY_BREAKEVEN_AFTER_HOURS=
COPY_CANDIDATE_MAX_LAST_FILL_AGE_DAYS=
COPY_CANDIDATE_MIN_ACTIVE_DAYS=
COPY_CANDIDATE_MIN_TARGET_ACTIVE_DAYS=
COPY_CANDIDATE_MIN_TARGET_FILL_RATIO=
COPY_CIRCUIT_BREAKER_COOLDOWN_MS=
COPY_CIRCUIT_BREAKER_ENABLED=
COPY_CONFIRM_SECONDS=
COPY_CONSENSUS_ENTER=
COPY_CONSENSUS_EXIT=
COPY_CONSENSUS_STALE_DAYS=
COPY_CONVICTION_MAX_MULT=
COPY_CONVICTION_MIN_MULT=
COPY_CONVICTION_NOTIONAL_CAP_USD=
COPY_COOLDOWN_AFTER_STOP_MIN=
COPY_DAILY_LOSS_STOP_PERCENT=
COPY_DISCOVERY_CONCURRENCY=
COPY_DISCOVERY_ENABLED=
COPY_DISCOVERY_HL_DISCOVER_COINS=
COPY_DISCOVERY_HL_DISCOVER_DELAY_MS=
COPY_DISCOVERY_HL_DISCOVER_ENABLED=
COPY_DISCOVERY_HL_DISCOVER_MAX_CANDIDATES=
COPY_DISCOVERY_HL_DISCOVER_ROUNDS=
COPY_DISCOVERY_HL_DISCOVER_TOP_MARKETS=
COPY_DISCOVERY_HL_WRITE_SEEDS=
COPY_DISCOVERY_INTERVAL_MS=
COPY_DISCOVERY_LOOKBACK_DAYS=
COPY_DISCOVERY_MAX_NEW_FETCHES=
COPY_DISCOVERY_MAX_WALLETS=
COPY_DISCOVERY_RATE_LIMIT_MS=
COPY_DISCOVERY_TIMEOUT_MS=
COPY_DISCOVERY_TIME_BUCKET_MS=
COPY_DISCOVERY_USE_CACHE=
COPY_DROPPED_COOLDOWN_DAYS=
COPY_DROP_PERSISTENCE_RUNS=
COPY_DROP_THRESHOLD=
COPY_DYNAMIC_LEVERAGE=
COPY_ELITE_ENABLED=
COPY_ELITE_MAX_DRAWDOWN_PCT=
COPY_ELITE_MAX_WEIGHT_SHARE=
COPY_ELITE_MIN_ACTIVE_DAYS=
COPY_ELITE_MIN_CONSENSUS_ABS=
COPY_ELITE_MIN_LEADERS=
COPY_ELITE_MIN_TRADES=
COPY_ELITE_PATH_ENABLED=
COPY_ELITE_WEIGHT_MULT=
COPY_ELITE_WINRATE_POSTERIOR_LB_MIN=
COPY_ENABLE_ATR_TRAIL=
COPY_ENGINE_MIN_LEADERS=
COPY_FADE_WORST_ENABLED=
COPY_HARD_STOP_ATR_MULT=
COPY_HARD_STOP_ENABLED=
COPY_HARD_STOP_PERCENT=
COPY_HL_WS_ENABLED=
COPY_HL_WS_SUB_CLEARINGHOUSE=
COPY_HL_WS_SUB_TRADES=
COPY_HL_WS_SUB_WEB_DATA2=
COPY_LEVERAGE_ADX_ADJ=
COPY_LEVERAGE_BASE=
COPY_LEVERAGE_CONFIDENCE_ADJ=
COPY_LEVERAGE_DRAWDOWN_PROT=
COPY_LEVERAGE_FUNDING_ADJ=
COPY_LEVERAGE_LONG=
COPY_LEVERAGE_MAX=
COPY_LEVERAGE_MIN=
COPY_LEVERAGE_MODE=
COPY_LEVERAGE_PORTFOLIO_ADJ=
COPY_LEVERAGE_SHORT=
COPY_LEVERAGE_USE_KELLY=
COPY_LEVERAGE_VOLATILITY_ADJ=
COPY_MAX_CHURN_PER_UPDATE=
COPY_MAX_CONSECUTIVE_LOSSES=
COPY_MAX_HOLD_HOURS=
COPY_MAX_LEADER_FAMILY_WEIGHT_SHARE=
COPY_MAX_NOTIONAL_PER_SYMBOL=
COPY_MAX_POSITIONS=
COPY_MAX_POSITION_HOURS=
COPY_MAX_POSITION_SIZE=
COPY_MAX_STALE_DAYS=
COPY_META_CLUSTER_HARD_CAP=
COPY_META_CLUSTER_SOFT_CAP=
COPY_META_CONCENTRATION_HARD_CAP=
COPY_META_CONCENTRATION_SOFT_CAP=
COPY_META_DOWNWEIGHT_SIZE_FRACTION=
COPY_META_EXIT_SCORE_MIN=
COPY_META_EXPECTANCY_SCALE_USD=
COPY_META_FOLLOW_SCORE_MIN=
COPY_META_FRESHNESS_DAYS=
COPY_META_FULL_SIZE_SCORE_MIN=
COPY_META_REQUIRE_LEADER_SUMMARY=
COPY_META_SMALL_SIZE_FRACTION=
COPY_META_TARGET_CONTRIBUTORS=
COPY_META_TARGET_EFFECTIVE_N=
COPY_MIN_EFFECTIVE_N=
COPY_MIN_LEADERS=
COPY_MIN_POSITION_SIZE=
COPY_MIN_TRADES_FOR_SCORING=
COPY_OPT_BACKTEST_STALE_DAYS=
COPY_OPT_BASELINE_CONFIG_FILE=
COPY_OPT_BOOTSTRAP_BLOCK_DAYS=
COPY_OPT_BOOTSTRAP_SAMPLES=
COPY_OPT_CVAR_ALPHA=
COPY_OPT_MAX_AVG_ABS_CORR=
COPY_OPT_MAX_HHI=
COPY_OPT_MIN_HOLDOUT_DAILY_POINTS=
COPY_OPT_MIN_HOLDOUT_REBALANCES=
COPY_OPT_MIN_HOLDOUT_TRADES=
COPY_OPT_MIN_TRAIN_DAILY_POINTS=
COPY_OPT_MIN_TRAIN_REBALANCES=
COPY_OPT_MIN_TRAIN_TRADES=
COPY_OPT_STRICT_SAMPLE_GATES=
COPY_OPT_UTILITY_LAMBDA_CHURN=
COPY_OPT_UTILITY_LAMBDA_CORR=
COPY_OPT_UTILITY_LAMBDA_CVAR=
COPY_OPT_UTILITY_LAMBDA_DD=
COPY_OPT_UTILITY_LAMBDA_HHI=
COPY_OVERRIDES_FILE=
COPY_OVERRIDES_RELOAD_MS=
COPY_PHASE3_ANALYSIS_ARGS=
COPY_PHASE3_INTERVAL_MINUTES=
COPY_PHASE3_MAX_WALLETS=
COPY_PHASE3_RUN_ONCE=
COPY_PHASE3_SNAPSHOT_ARGS=
COPY_PHASE3_UPDATE_TOPK=
COPY_POSITION_SIZE_PERCENT=
COPY_POSITION_SIZING_METHOD=
COPY_PROMOTE_THRESHOLD=
COPY_REGIME_FILTER_ENABLED=
COPY_REGIME_LOOKBACK_BARS=
COPY_REGIME_MAX_VOL_PCT=
COPY_REGIME_MIN_TREND_STRENGTH=
COPY_REGIME_MIN_VOL_PCT=
COPY_REGIME_REQUIRE_READY=
COPY_RISK_PER_TRADE_PERCENT=
COPY_SAFE_MODE_ON_STALE=
COPY_SELECTOR_STATE_FILE=
COPY_SIGNAL_FAMILY=
COPY_SIGNAL_INTERVAL_MS=
COPY_SIGNAL_MAX_ACTIVE_WEIGHT_SHARE=
COPY_SIGNAL_MAX_CLUSTER_WEIGHT_SHARE=
COPY_SLIPPAGE_BPS_MAX=
COPY_SOURCE=
COPY_STOP_LOSS_PERCENT=
COPY_STRATEGY_MIN_LEADERS=
COPY_TAKE_PROFIT_PERCENT=
COPY_TARGET_SYMBOLS=
COPY_TOPK_RELOAD_MS=
COPY_TOPK_SIZE=
COPY_TOPK_UPDATE_INTERVAL_MS=
COPY_TRACKER_LOG_CHANGES=
COPY_TRACKER_LOG_INTERVAL_MS=
COPY_TRAILING_STOP_PERCENT=
COPY_TRAIL_ACTIVATE_AFTER_PROFIT_PERCENT=
COPY_TRAIL_ATR_MULT=
COPY_USE_RISK_TP=
COPY_USE_TRAILING_STOP=
COPY_WEIGHT_CAP_MAX=
COPY_WEIGHT_CAP_MIN=
COPY_WINRATE_CONFIDENCE=
COPY_WS_ALERT_COOLDOWN_MS=
COPY_WS_ALERT_MIN_TOPK=
COPY_WS_ALERT_MISSING_PCT=
COPY_WS_ALERT_STALE_PCT=
COPY_WS_HEALTH_CHECK_MS=
COPY_WS_STALE_MS=
HYPERLIQUID_API_URL=
HYPERLIQUID_WS_URL=
INITIAL_CAPITAL_COPY=
PAPER_BALANCE_COPY=
PERPS_EXECUTION_PROVIDER_DEFAULT=
STARTING_BALANCE_COPY=
STRATEGY_MARKETS=
STRATEGY_TYPE=
