ALLOCATOR_COOLDOWN_LOSS_PENALTY=
ALLOCATOR_COOLDOWN_WINDOW_MS=
ALLOCATOR_COOLDOWN_WIN_BONUS=
ALLOCATOR_DIVERSIFICATION_BONUS=
ALLOCATOR_EXPLORE_PROBABILITY=
ALLOCATOR_MAX_CORRELATED_EXPOSURE=
ALLOCATOR_MAX_POSITIONS_PER_MARKET=
ALLOCATOR_MIN_CONFIDENCE=
ALLOCATOR_MIN_SCORE=
ALLOCATOR_RISK_ENABLED=
ALLOCATOR_RISK_LEVERAGE_MULT_MAX=
ALLOCATOR_RISK_LEVERAGE_MULT_MIN=
ALLOCATOR_RISK_NEUTRAL=
ALLOCATOR_RISK_QUALITY_CONF_WEIGHT=
ALLOCATOR_RISK_QUALITY_GAMMA=
ALLOCATOR_RISK_QUALITY_SCORE_WEIGHT=
ALLOCATOR_RISK_SIZE_MULT_MAX=
ALLOCATOR_RISK_SIZE_MULT_MIN=
ALLOCATOR_RISK_STOP_ATR_MULT_MAX=
ALLOCATOR_RISK_STOP_ATR_MULT_MIN=
ALLOCATOR_RISK_STOP_PCT_MULT_MAX=
ALLOCATOR_RISK_STOP_PCT_MULT_MIN=
ALLOW_LONGS=
ALLOW_SHORTS=
BACKTEST_CACHE_ENABLED=
BACKTEST_ENABLE_FEE_OPTIMIZER=
BACKTEST_USE_1M_TICKS=
BASE_SLIPPAGE_BPS=
BOT_LOOP_MS=
COOLDOWN_MS=
DAILY_DRAWDOWN_THRESHOLD=
DEBUG_PREDICTA_STRATEGY=
DYNAMIC_LEVERAGE=
ENABLE_COMPOUNDING=
ENABLE_COOLDOWN=
ENABLE_EDGE_TRIGGER=
ENABLE_REALISTIC_SLIPPAGE=
ENABLE_SAME_BAR_GUARD=
EXEC_MODE=
FEE_MODEL=
FLIP_COOLDOWN_BARS=
FLIP_COOLDOWN_MS=
INITIAL_CAPITAL=
LEVERAGE_ADX_ADJ=
LEVERAGE_BASE=
LEVERAGE_CONFIDENCE_ADJ=
LEVERAGE_DRAWDOWN_PROT=
LEVERAGE_FUNDING_ADJ=
LEVERAGE_LONG=
LEVERAGE_MAX=
LEVERAGE_MIN=
LEVERAGE_PORTFOLIO_ADJ=
LEVERAGE_SHORT=
LEVERAGE_USE_KELLY=
LEVERAGE_VOLATILITY_ADJ=
LOOP_MS=
MAX_FUNDING_RATE_PERCENT=
MAX_MARKET_IMPACT_BPS=
MAX_POSITIONS=
MAX_POSITION_SIZE=
MAX_TOTAL_EXPOSURE=
MAX_TOTAL_LEVERAGE=
MIN_BARS_SAME_SIDE_REENTRY=
MIN_LIQUIDITY=
MIN_POSITION_SIZE=
PAPER_BALANCE=
PERPS_EXECUTION_PROVIDER_DEFAULT=
POSITION_SIZE_PERCENT=
POSITION_SIZING_METHOD=
PREDICTA_ADX_OK=
PREDICTA_ADX_PERIOD=
PREDICTA_ADX_STRONG=
PREDICTA_ADX_THRESHOLD=
PREDICTA_ADX_WEAK=
PREDICTA_ALLOCATOR_CONFIDENCE_WEIGHT=
PREDICTA_ALLOCATOR_PERFORMANCE_WEIGHT=
PREDICTA_ALLOCATOR_RISKADJUSTED_WEIGHT=
PREDICTA_ALLOCATOR_VOLATILITY_WEIGHT=
PREDICTA_ATR_PERCENTILE_LOOKBACK=
PREDICTA_ATR_PERIOD=
PREDICTA_ATR_STOP_MULT=
PREDICTA_BUY_SELL_CONFIDENCE=
PREDICTA_BUY_SELL_ENTRY_TRIGGER=
PREDICTA_BUY_SELL_MIN_CONFLUENCE=
PREDICTA_BUY_SELL_REQUIRE_DELTA=
PREDICTA_BUY_SELL_SCORE_THRESHOLD_OFFSET=
PREDICTA_BUY_SELL_SIZE_MULT=
PREDICTA_BUY_SELL_USE_CONFLUENCE_FILTER=
PREDICTA_BUY_SELL_USE_SCORE_FILTER=
PREDICTA_CIRCUIT_BREAKER_COOLDOWN_MS=
PREDICTA_DELTA_EMA_PERIOD=
PREDICTA_EMA_CROSS_EXIT=
PREDICTA_EMA_EXIT_FAST=
PREDICTA_EMA_EXIT_SLOW=
PREDICTA_EMA_FAST=
PREDICTA_EMA_MID=
PREDICTA_EMA_SLOW=
PREDICTA_ENABLE_ATR_STOP=
PREDICTA_ENABLE_BUY_SELL_SIGNALS=
PREDICTA_ENABLE_PERFECT_SIGNALS=
PREDICTA_ENABLE_TIME_STOP=
PREDICTA_ENABLE_TRAILING_STOP=
PREDICTA_HARD_STOP_ATR=
PREDICTA_HARD_STOP_ENABLED=
PREDICTA_HARD_STOP_PERCENT=
PREDICTA_MACD_FAST=
PREDICTA_MACD_SIGNAL=
PREDICTA_MACD_SLOW=
PREDICTA_MAX_CONSECUTIVE_LOSSES=
PREDICTA_MIN_BARS=
PREDICTA_MIN_CONFLUENCE=
PREDICTA_MIN_VOLUME_RATIO=
PREDICTA_OPPOSITE_BUYSELL_EXIT=
PREDICTA_OPPOSITE_PERFECT_EXIT=
PREDICTA_PERFECT_CONFIDENCE=
PREDICTA_PERFECT_SIZE_MULT=
PREDICTA_RELAX_PERFECT_DIRECTION=
PREDICTA_RSI_PERIOD=
PREDICTA_RSI_USE_SMA=
PREDICTA_STOCH_PERIOD=
PREDICTA_STOCH_SMOOTH=
PREDICTA_ST_FACTOR=
PREDICTA_ST_PERIOD=
PREDICTA_SUPERTREND_EXIT=
PREDICTA_THRESHOLD_DEFAULT=
PREDICTA_THRESHOLD_OK=
PREDICTA_THRESHOLD_STRONG=
PREDICTA_THRESHOLD_WEAK=
PREDICTA_TIME_STOP_BARS=
PREDICTA_TRAILING_ATR_MULT=
PREDICTA_VANILLA_MODE=
PREDICTA_VERBOSE=
PREDICTA_VOLUME_LOOKBACK=
PREDICTA_VOL_HIGH_MULT=
PREDICTA_VOL_HIGH_PERCENTILE=
PREDICTA_VOL_LOW_MULT=
PREDICTA_VOL_LOW_PERCENTILE=
PREDICTA_VOL_MED_MULT=
PREDICTA_WEIGHT_ADX=
PREDICTA_WEIGHT_DELTA=
PREDICTA_WEIGHT_MACD=
PREDICTA_WEIGHT_RSI=
PREDICTA_WEIGHT_STOCH=
PREDICTA_WEIGHT_TREND=
PREDICTA_WEIGHT_VOLUME=
RISK_PER_TRADE_PERCENT=
ROBUST_BOOTSTRAP=
ROBUST_GRID_EXCLUDE=
ROBUST_HEATMAP=
ROBUST_HEATMAP_COARSE=
ROBUST_HEATMAP_IMPROVEMENT_THRESHOLD=
ROBUST_HEATMAP_MAX_RUNS_PER_MARKET=
ROBUST_HEATMAP_MODE=
ROBUST_JITTER=
ROBUST_WALK_FORWARD=
SLIPPAGE_BPS=
SLIPPAGE_SCALAR=
STARTING_BALANCE_USD=
STOP_LOSS_PERCENT=
STRATEGY_BTC_PERP_ADX_THRESHOLD=
STRATEGY_BTC_PERP_LEVERAGE=
STRATEGY_BTC_PERP_MIN_CONFLUENCE=
STRATEGY_BTC_PERP_PREDICTA_BUY_SELL_SIZE_MULT=
STRATEGY_BTC_PERP_PREDICTA_EMA_CROSS_EXIT=
STRATEGY_BTC_PERP_PREDICTA_EMA_EXIT_FAST=
STRATEGY_BTC_PERP_PREDICTA_EMA_EXIT_SLOW=
STRATEGY_BTC_PERP_PREDICTA_EMA_FAST=
STRATEGY_BTC_PERP_PREDICTA_EMA_MID=
STRATEGY_BTC_PERP_PREDICTA_EMA_SLOW=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_ATR_STOP=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_BUY_SELL_SIGNALS=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_ADX=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_EMA_CROSS=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_EMA_TREND=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_MACD=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_RSI=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_STOCH=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_SUPERTREND=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_GATE_VOLUME=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_PERFECT_SIGNALS=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_ADX=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_DELTA=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_MACD=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_RSI=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_STOCH=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_TREND=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_SCORE_VOLUME=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_TIME_STOP=
STRATEGY_BTC_PERP_PREDICTA_ENABLE_TRAILING_STOP=
STRATEGY_BTC_PERP_PREDICTA_HARD_STOP_ATR=
STRATEGY_BTC_PERP_PREDICTA_HARD_STOP_ENABLED=
STRATEGY_BTC_PERP_PREDICTA_HARD_STOP_PERCENT=
STRATEGY_BTC_PERP_PREDICTA_MIN_VOLUME_RATIO=
STRATEGY_BTC_PERP_PREDICTA_OPPOSITE_PERFECT_EXIT=
STRATEGY_BTC_PERP_PREDICTA_PERFECT_SIZE_MULT=
STRATEGY_BTC_PERP_PREDICTA_SUPERTREND_EXIT=
STRATEGY_BTC_PERP_PREDICTA_THRESHOLD_DEFAULT=
STRATEGY_BTC_PERP_PREDICTA_THRESHOLD_OK=
STRATEGY_BTC_PERP_PREDICTA_THRESHOLD_STRONG=
STRATEGY_BTC_PERP_PREDICTA_THRESHOLD_WEAK=
STRATEGY_BTC_PERP_PREDICTA_TIME_STOP_BARS=
STRATEGY_BTC_PERP_PREDICTA_TRAILING_ATR_MULT=
STRATEGY_BTC_PERP_PREDICTA_VOLUME_LOOKBACK=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_ADX=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_DELTA=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_MACD=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_RSI=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_STOCH=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_TREND=
STRATEGY_BTC_PERP_PREDICTA_WEIGHT_VOLUME=
STRATEGY_BTC_PERP_STOP_LOSS_PERCENT=
STRATEGY_BTC_PERP_ST_FACTOR=
STRATEGY_BTC_PERP_ST_PERIOD=
STRATEGY_BTC_PERP_TAKE_PROFIT_PERCENT=
STRATEGY_BTC_PERP_USE_RISK_TP=
STRATEGY_BTC_PERP_USE_TRAILING_STOP=
STRATEGY_ETH_PERP_ADX_THRESHOLD=
STRATEGY_ETH_PERP_COOLDOWN_MS=
STRATEGY_ETH_PERP_ENABLE_COOLDOWN=
STRATEGY_ETH_PERP_ENABLE_EDGE_TRIGGER=
STRATEGY_ETH_PERP_ENABLE_SAME_BAR_GUARD=
STRATEGY_ETH_PERP_FLIP_COOLDOWN_BARS=
STRATEGY_ETH_PERP_LEVERAGE=
STRATEGY_ETH_PERP_MIN_BARS_SAME_SIDE_REENTRY=
STRATEGY_ETH_PERP_MIN_CONFLUENCE=
STRATEGY_ETH_PERP_PREDICTA_ADX_OK=
STRATEGY_ETH_PERP_PREDICTA_ADX_STRONG=
STRATEGY_ETH_PERP_PREDICTA_ADX_WEAK=
STRATEGY_ETH_PERP_PREDICTA_BUY_SELL_CONFIDENCE=
STRATEGY_ETH_PERP_PREDICTA_BUY_SELL_SIZE_MULT=
STRATEGY_ETH_PERP_PREDICTA_DELTA_EMA_PERIOD=
STRATEGY_ETH_PERP_PREDICTA_EMA_FAST=
STRATEGY_ETH_PERP_PREDICTA_EMA_MID=
STRATEGY_ETH_PERP_PREDICTA_EMA_SLOW=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_ATR_STOP=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_BUY_SELL_SIGNALS=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_ADX=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_EMA_CROSS=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_EMA_TREND=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_MACD=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_RSI=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_STOCH=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_SUPERTREND=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_GATE_VOLUME=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_PERFECT_SIGNALS=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_ADX=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_DELTA=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_MACD=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_RSI=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_STOCH=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_TREND=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_SCORE_VOLUME=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_TIME_STOP=
STRATEGY_ETH_PERP_PREDICTA_ENABLE_TRAILING_STOP=
STRATEGY_ETH_PERP_PREDICTA_HARD_STOP_ATR=
STRATEGY_ETH_PERP_PREDICTA_HARD_STOP_ENABLED=
STRATEGY_ETH_PERP_PREDICTA_HARD_STOP_PERCENT=
STRATEGY_ETH_PERP_PREDICTA_MIN_VOLUME_RATIO=
STRATEGY_ETH_PERP_PREDICTA_OPPOSITE_PERFECT_EXIT=
STRATEGY_ETH_PERP_PREDICTA_PERFECT_CONFIDENCE=
STRATEGY_ETH_PERP_PREDICTA_PERFECT_SIZE_MULT=
STRATEGY_ETH_PERP_PREDICTA_RELAX_PERFECT_DIRECTION=
STRATEGY_ETH_PERP_PREDICTA_SUPERTREND_EXIT=
STRATEGY_ETH_PERP_PREDICTA_THRESHOLD_DEFAULT=
STRATEGY_ETH_PERP_PREDICTA_THRESHOLD_OK=
STRATEGY_ETH_PERP_PREDICTA_THRESHOLD_STRONG=
STRATEGY_ETH_PERP_PREDICTA_THRESHOLD_WEAK=
STRATEGY_ETH_PERP_PREDICTA_VOLUME_LOOKBACK=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_ADX=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_DELTA=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_MACD=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_RSI=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_STOCH=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_TREND=
STRATEGY_ETH_PERP_PREDICTA_WEIGHT_VOLUME=
STRATEGY_ETH_PERP_ST_FACTOR=
STRATEGY_ETH_PERP_ST_PERIOD=
STRATEGY_ETH_PERP_USE_RISK_TP=
STRATEGY_MARKETS=
STRATEGY_SOL_PERP_ADX_THRESHOLD=
STRATEGY_SOL_PERP_COOLDOWN_MS=
STRATEGY_SOL_PERP_ENABLE_COOLDOWN=
STRATEGY_SOL_PERP_ENABLE_EDGE_TRIGGER=
STRATEGY_SOL_PERP_ENABLE_SAME_BAR_GUARD=
STRATEGY_SOL_PERP_FLIP_COOLDOWN_BARS=
STRATEGY_SOL_PERP_LEVERAGE=
STRATEGY_SOL_PERP_MIN_BARS_SAME_SIDE_REENTRY=
STRATEGY_SOL_PERP_MIN_CONFLUENCE=
STRATEGY_SOL_PERP_PREDICTA_ADX_OK=
STRATEGY_SOL_PERP_PREDICTA_ADX_PERIOD=
STRATEGY_SOL_PERP_PREDICTA_ADX_STRONG=
STRATEGY_SOL_PERP_PREDICTA_ADX_WEAK=
STRATEGY_SOL_PERP_PREDICTA_BUY_SELL_CONFIDENCE=
STRATEGY_SOL_PERP_PREDICTA_BUY_SELL_SIZE_MULT=
STRATEGY_SOL_PERP_PREDICTA_DELTA_EMA_PERIOD=
STRATEGY_SOL_PERP_PREDICTA_EMA_FAST=
STRATEGY_SOL_PERP_PREDICTA_EMA_MID=
STRATEGY_SOL_PERP_PREDICTA_EMA_SLOW=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_ATR_STOP=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_BUY_SELL_SIGNALS=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_ADX=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_EMA_CROSS=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_EMA_TREND=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_MACD=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_RSI=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_STOCH=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_SUPERTREND=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_GATE_VOLUME=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_PERFECT_SIGNALS=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_ADX=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_DELTA=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_MACD=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_RSI=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_STOCH=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_TREND=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_SCORE_VOLUME=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_TIME_STOP=
STRATEGY_SOL_PERP_PREDICTA_ENABLE_TRAILING_STOP=
STRATEGY_SOL_PERP_PREDICTA_HARD_STOP_ATR=
STRATEGY_SOL_PERP_PREDICTA_HARD_STOP_ENABLED=
STRATEGY_SOL_PERP_PREDICTA_HARD_STOP_PERCENT=
STRATEGY_SOL_PERP_PREDICTA_MACD_FAST=
STRATEGY_SOL_PERP_PREDICTA_MACD_SIGNAL=
STRATEGY_SOL_PERP_PREDICTA_MACD_SLOW=
STRATEGY_SOL_PERP_PREDICTA_MIN_VOLUME_RATIO=
STRATEGY_SOL_PERP_PREDICTA_OPPOSITE_PERFECT_EXIT=
STRATEGY_SOL_PERP_PREDICTA_PERFECT_CONFIDENCE=
STRATEGY_SOL_PERP_PREDICTA_PERFECT_SIZE_MULT=
STRATEGY_SOL_PERP_PREDICTA_RELAX_PERFECT_DIRECTION=
STRATEGY_SOL_PERP_PREDICTA_STOCH_PERIOD=
STRATEGY_SOL_PERP_PREDICTA_STOCH_SMOOTH=
STRATEGY_SOL_PERP_PREDICTA_SUPERTREND_EXIT=
STRATEGY_SOL_PERP_PREDICTA_THRESHOLD_DEFAULT=
STRATEGY_SOL_PERP_PREDICTA_THRESHOLD_OK=
STRATEGY_SOL_PERP_PREDICTA_THRESHOLD_STRONG=
STRATEGY_SOL_PERP_PREDICTA_THRESHOLD_WEAK=
STRATEGY_SOL_PERP_PREDICTA_TIME_STOP_BARS=
STRATEGY_SOL_PERP_PREDICTA_TRAILING_ATR_MULT=
STRATEGY_SOL_PERP_PREDICTA_VOLUME_LOOKBACK=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_ADX=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_DELTA=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_MACD=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_RSI=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_STOCH=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_TREND=
STRATEGY_SOL_PERP_PREDICTA_WEIGHT_VOLUME=
STRATEGY_SOL_PERP_STOP_LOSS_PERCENT=
STRATEGY_SOL_PERP_ST_FACTOR=
STRATEGY_SOL_PERP_ST_PERIOD=
STRATEGY_SOL_PERP_TAKE_PROFIT_PERCENT=
STRATEGY_SOL_PERP_TRAILING_STOP_PERCENT=
STRATEGY_SOL_PERP_USE_RISK_TP=
STRATEGY_SOL_PERP_USE_TRAILING_STOP=
STRATEGY_TYPE=
TAKE_PROFIT_PERCENT=
TRADING_ALLOWED_HOURS_UTC=
TRADING_DISABLED_HOURS_UTC=
TRADING_INTERVAL=
TRAILING_STOP_PERCENT=
USE_DYNAMIC_MAX_LEV=
USE_RISK_TP=
USE_TRAILING_STOP=
VOLATILITY_SCALE_BASE=
VOLUME_INTERVAL=
WF_GRID_MODE=
WF_MODE=
WF_OPTIMIZE=
