ADX_EXIT_WEAK=
ADX_MIN_TREND=
ADX_PERIOD=
ALLOCATOR_CONFIDENCE_WEIGHT=
ALLOCATOR_COOLDOWN_LOSS_PENALTY=
ALLOCATOR_COOLDOWN_WINDOW_MS=
ALLOCATOR_COOLDOWN_WIN_BONUS=
ALLOCATOR_DIVERSIFICATION_BONUS=
ALLOCATOR_EXPLORE_PROBABILITY=
ALLOCATOR_MAX_CORRELATED_EXPOSURE=
ALLOCATOR_MAX_POSITIONS_PER_MARKET=
ALLOCATOR_MIN_CONFIDENCE=
ALLOCATOR_MIN_SCORE=
ALLOCATOR_PERFORMANCE_WEIGHT=
ALLOCATOR_RISKADJUSTED_WEIGHT=
ALLOCATOR_VOLATILITY_WEIGHT=
ATR_PERIOD=
ATR_STOP_MULTIPLIER=
ATR_TAKE_PROFIT_MULTIPLIER=
BACKTEST_ENABLE_FEE_OPTIMIZER=
BAND_PCT=
BOT_LOOP_MS=
COOLDOWN_MS=
DAILY_DRAWDOWN_THRESHOLD=
DONCHIAN_CONFIRM=
DONCHIAN_PERIOD=
DYNAMIC_LEVERAGE=
ENABLE_COMPOUNDING=
ENABLE_COOLDOWN=
ENABLE_DONCHIAN_GATE=
ENABLE_EDGE_TRIGGER=
ENABLE_GREEN_DAY_VETO=
ENABLE_HTF_TREND=
ENABLE_PARTIAL_TAKE=
ENABLE_PULLBACK_ENTRY=
ENABLE_SAME_BAR_GUARD=
ENABLE_SESSION_AWARENESS=
ENABLE_SQUEEZE_ENTRY=
ENABLE_TIME_GATE=
ENABLE_TIME_STOP=
ENABLE_TRAILING_STOP=
ENABLE_VOLATILITY_FILTER=
FLIP_COOLDOWN_BARS=
FLIP_COOLDOWN_MS=
HTF_INTERVAL=
HTF_MA_PERIOD=
LEVERAGE_ADX_ADJ=
LEVERAGE_BASE=
LEVERAGE_CONFIDENCE_ADJ=
LEVERAGE_DRAWDOWN_PROT=
LEVERAGE_FUNDING_ADJ=
LEVERAGE_LONG=
LEVERAGE_MAX=
LEVERAGE_MIN=
LEVERAGE_PORTFOLIO_ADJ=
LEVERAGE_SHORT=
LEVERAGE_USE_KELLY=
LEVERAGE_VOLATILITY_ADJ=
LONG_STRICT_HTF=
LOOP_MS=
MARKETS=
MAX_ENTRY_DIST_ATR=
MAX_FUNDING_RATE_PERCENT=
MAX_MARKET_IMPACT_BPS=
MAX_POSITION_HOURS=
MAX_POSITION_SIZE=
MAX_TOTAL_EXPOSURE=
MAX_TOTAL_LEVERAGE=
MA_PERIOD=
MA_SLOPE_DOWN_MAX=
MA_SLOPE_LOOKBACK=
MA_SLOPE_UP_MIN=
MIN_BARS_SAME_SIDE_REENTRY=
MIN_DIST=
MIN_LIQUIDITY=
MIN_POSITION_SIZE=
MIN_R_TO_HOLD=
MOMENTUM_ALLOW_LONGS=
MOMENTUM_ALLOW_SHORTS=
MOMENTUM_SLIPPAGE_BPS=
PARTIAL_AT_R=
POSITION_SIZE_PERCENT=
POSITION_SIZING_METHOD=
PULLBACK_LOOKBACK_BARS=
PULLBACK_SIZE_MULTIPLIER=
PULLBACK_TOUCH_BPS=
PYRAMID_ADD_PCT=
PYRAMID_ENABLE=
PYRAMID_TRAIL_ATR=
PYRAMID_TRIGGER_ATR=
REQUIRE_ADX_SLOPE_UP=
REQUIRE_MA_SLOPE_LONG=
REQUIRE_MA_SLOPE_SHORT=
REQUIRE_RETEST=
RETEST_BARS=
RISK_PER_TRADE_PERCENT=
ROBUST_BOOTSTRAP=
ROBUST_HEATMAP=
RSI_LONG=
RSI_PERIOD=
RSI_SHORT=
SHORT_STRICT_HTF=
SLIPPAGE_BPS=
SQUEEZE_ADX_START=
SQUEEZE_ADX_TARGET=
SQUEEZE_BARS_N=
SQUEEZE_INITIAL_STOP_ATR=
SQUEEZE_WIDEN_AT_R=
SQUEEZE_WIDEN_TO_ATR=
STOP_LOSS_PERCENT=
STRATEGY_BTC_PERP_ADX_MIN_TREND=
STRATEGY_BTC_PERP_BAND_PCT=
STRATEGY_BTC_PERP_DONCHIAN_CONFIRM=
STRATEGY_BTC_PERP_Z_FILTER=
STRATEGY_ETH_PERP_ADX_MIN_TREND=
STRATEGY_ETH_PERP_BAND_PCT=
STRATEGY_ETH_PERP_DONCHIAN_CONFIRM=
STRATEGY_ETH_PERP_Z_FILTER=
STRATEGY_SOL_PERP_ADX_MIN_TREND=
STRATEGY_SOL_PERP_ALLOW_SHORTS=
STRATEGY_SOL_PERP_DONCHIAN_CONFIRM=
STRATEGY_SOL_PERP_ENABLE_SESSION_AWARENESS=
STRATEGY_SOL_PERP_REQUIRE_VOLUME_SPIKE=
STRATEGY_TYPE=
STRICT_ADX_MIN=
TAKE_PROFIT_PERCENT=
TIME_GATE_ADX_THRESHOLD=
TIME_STOP_BARS=
TRADING_INTERVAL=
TRAILING_STOP_PERCENT=
TRAIL_ATR=
USE_DYNAMIC_MAX_LEV=
USE_RISK_TP=
USE_TRAILING_STOP=
Z_FILTER=
